<div class="container">
        <div class="row">
            <img class="img-fluid" [src]="stella1" alt="star">
            <img class="img-fluid" [src]="stella2" alt="star">
            <img class="img-fluid" [src]="stella3" alt="star">
            <img class="img-fluid" [src]="stella4" alt="star">
            <img class="img-fluid" [src]="stella5" alt="star">
            <!--
            <div class="col-2 offset-1">
                <img class="img-fluid" src="assets/star1.png" alt="alternatetext">
            </div>
            <div class="col-2">
                <img class="img-fluid" src="assets/star1.png" alt="alternatetext">
            </div>
            <div class="col-2">
                <img class="img-fluid" src="assets/star1.png" alt="alternatetext">
            </div>
            <div class="col-2">
                <img class="img-fluid" src="assets/star1.png" alt="alternatetext">
            </div>
            <div class="col-2">
                <img class="img-fluid" src="assets/star0.png" alt="alternatetext">
            </div>
            -->
        </div>
</div>
