hr {
    border: 1px solid black;
  }

a {
    color: black;
    text-decoration: underline;
  }

button {
    border:none;
    background-color:transparent;
    outline:none;
    text-decoration: underline;
 }