.title {
    text-align: center;
}

.form-control {
    text-align: center;
    border: 1px solid black;
}

button{
    border: 1px solid black;
}

.container{
    margin-bottom: 12%;
    margin-top: 3%;
}