<div class="container-fluid ">
    <div class="row">
        <div class="col-10 offset-2 header">
            <h1 class="mat-h1">I miei messaggi</h1>
        </div>
    </div>
    <br>
        <div class="container-fluid">
            <div *ngIf="notifications.length > 0; else elseBlock">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <ul class="notifications">
                                <li *ngFor="let notification of notifications">
                                    <app-notification-card [user]=user [notification]=notification></app-notification-card>
                                    <br>
                                </li>
                            </ul>
                        </div> 
                    </div>
                    <br>
                </div>
            </div>
            <ng-template #elseBlock>
                <div class="container-fluid mat-typography">
                    <p>Nessun messaggio per te, torna più tardi.</p> 
                </div>
                
            </ng-template>
        </div>
        <br>
        <br>
        <br>
</div>
