.row{
    margin-bottom: 5px;
}

button {
    border: 1px solid black;
}

.container{
    margin-top: 6%;
    margin-bottom: 8%;
}

.img-div{
    text-align: center;
}

a {
    color: black;
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0px;
   }