<div class="container ">
    <div class="row mt-5">
      <div class="col-10  mt-5 title">
        <h2>Gotta Shop 'Em All</h2>
        <h5>“Un’ esperienza di shopping senza paragoni.”</h5>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4 service">
            <img src="assets/buy.png" class="img-fluid" alt="">
            <h4>DESIDERA</h4>
            <p>Seleziona ciò che desideri e aggiungilo al carrello.</p>
        </div>
        <div class="col-sm-4 service">
            <img src="assets/payment.png" class="img-fluid" alt="">
            <h4>PAGA</h4>
            <p>Completa l’ordine effettuando il pagamento online.</p>
        </div>
        <div class="col-sm-4 service">
            <img src="assets/delivery.png" class="img-fluid" alt="">
            <h4>ATTENDI</h4>
            <p>Aspetta il nostro fattorino comodamente sul divano.</p>
        </div>
    </div>
  </div>