<!-- Footer -->
<footer class="page-footer font-small elegant-color">

  <!-- 
  <div class="container">

    
    <div class="row">

      <div class="col my-5">

        <ul class="list-unstyled list-inline text-center mb-0">
          <li class="list-inline-item">
            <a href="https://www.facebook.com" class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/home" class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="www.linkedin.com/" class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>

      </div>

    </div>

  </div>-->
  <!-- Footer Links -->

  <!-- Footer Links -->
  <div class="container text-center text-md-left pt-4 pt-md-5">

    <!-- Grid row -->
    <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

      <!-- Grid column 
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        
        <h5>About Us</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <p class="foot-desc mb-0">TESTO QUI</p>

      </div>-->
      <!-- Grid column -->

      <!--<hr class="clearfix w-100 d-md-none">-->

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h5>Link utili</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <a href="#" routerLink="/">Home</a>
          </li>
          <li class="mb-2">
            <a href="#" routerLink="/vendors">Negozi</a>
          </li>
          <li class="mb-2">
            <a href="#" routerLink="/about-us">Chi siamo</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h5>Prodotti</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <a routerLink="/offers-of-the-moment">Offerte del momento</a>
          </li>
          <li class="mb-2">
            <a routerLink="/best-sellers">Più venduti</a>
          </li>
          <div *ngIf="session.isLoggedIn()">
            <li class="mb-2">
              <a routerLink="/interesting-for-you">Interessanti per te </a>
            </li>
          </div>
          <li class="mb-2">
            <a routerLink="/best-reviewed">Miglior recensiti</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h5>Contatti</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="fa-ul foot-desc ml-4">
          <li class="mb-2"><span class="fa-li"><i class="far fa-map"></i></span>Via Zamboni, 33 - 40126 Bologna
          </li>
          <li class="mb-2"><span class="fa-li"><i class="fas fa-phone-alt"></i></span>011 317 103</li>
          <li class="mb-2"><span class="fa-li"><i class="far fa-envelope"></i></span>gottashopemall@unibo.it</li>
          <li><span class="fa-li"><i class="far fa-clock"></i></span>Lunedì - Venerdì: 10-17</li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.unibo.it/it"> Giovanni, Oleg, Elia</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->